@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.card {
    padding: 2em;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #ffe3ba;
    height: 100%;
    margin: 0;
    padding: 0;
}

.front-page-button {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 4em;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #f0bd71;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-page-button:hover {
    border: 2px solid #d9932b;
    color: #000000;
}

.footnote {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 12pt;
    font-optical-sizing: auto;
    font-style: normal;
}

.animation1 {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 7em;
    color: #b8673e;
}
